.git
.gitattributes
.gitignore
.vscode
.idea
.env
.env.backup
.env.production
node_modules
vendor
public/build
public/hot
storage/app/public
storage/logs
storage/debugbar
storage/framework/cache/data
storage/framework/sessions
storage/framework/views
storage/pail
*.log
.DS_Store
docker-compose*.yml
*.md
sumberdana26.csv
